@import 'src/scss/variables.scss';

.product-toolbar {
    position: absolute;
    bottom: 23px;
    left: 22px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: $v2borderRadius;
    background-color: #f3f7ff;

    @media only screen and (max-width: 1500px) {
        bottom: 12px;
        left: 10px;
    }
    @media only screen and (max-width: 1300px) {
        bottom: 20px;
        left: 22px;
    }
    @media only screen and (max-width: 767px) {
        bottom: 9px;
        left: 9px;
        padding: 6px;
    }

    &__favorites,
    &__shuffle {
        display: flex;
        align-items: flex-start;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        & + & {
            margin-left: 10px;

            @media only screen and (max-width: 767px) {
                margin-left: 2px;
            }
        }

        svg {
            width: 18px;
            height: 18px;
            fill: $grey;
            transition: fill 300ms;

            @media only screen and (max-width: 767px) {
                width: 15px;
                height: 12px;
            }
        }
    }

    &__favorites--active svg {
        fill: $red;
    }

    &__shuffle--active svg {
        fill: $blue-dark;
    }
}
