@import 'src/scss/variables.scss';

.file-upload-component {
    &.uploaded {
        .confirmation-component__success {
            display: block;
            width: 3em;

            svg {
                width: 1.5em;
                height: auto;
                display: block;
            }
        }
    }

    .file-link {
        margin: 0;
    }
}
