.recover-password {

  &__inner {
    max-width: 694px;
    margin: 0 auto;
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__field {
    margin-bottom: 30px;
  }

  &__btn {
    width: 211px;
    margin: 0 auto;
  }
}