@import 'src/scss/variables.scss';

.conditions-card {
    padding: $v2gap;
    // margin: $v2gap 0;
    border-radius: $v2borderRadius;
    border: 1px solid $v2ctlBorder;
    position: relative;
    display: grid;
    // row-gap: $v2halfGap;
    grid-template-areas:
        "header"
        'contracted'
        "values"
        "comments"
        "approved"
        "actions"
    ;
    grid-template-columns: 1fr;

    @media only screen and (min-width: $smallTablet) {
        grid-template-areas:
            "header actions"
            "contracted contracted"
            "approved approved"
            "values values"
            "comments comments"
        ;
        padding: $v2gap;
        // grid-auto-flow: column;
    }

    &__contracted-values {
        grid-area: contracted;

        @media only screen and (min-width: $smallTablet) {
            margin-top: $v2halfGap;
        }
    }

    &__approved-values {
        grid-area: approved;
    }

    &.companion-suggested {
        background: #ffcaca;
        border-color: #ffcaca;
    }

    &.companion-accepted {
        background: #c4eac4;
        border-color: #c4eac4;
    }

    &.accepted {
        background: #c4eac4;
        border-color: #c4eac4;
    }

    &.pending {
        background: #fff;
    }

    &.suggested {
        background: #fff;
    }

    &.disabled {
        &::after {
            display: block;
            content: '';
            position: absolute;
            border-radius: $v2borderRadius;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: repeating-linear-gradient(45deg,
                    #fff,
                    #fff 10px,
                    #000 10px,
                    #000 20px);
            opacity: 0.125;
            pointer-events: none;
        }

        button {
            display: none;
        }
    }

    &__icon {
        //min-width: 1.5em;

        .icon {
            margin-right: $v2halfGap;
            width: 1.5em;
            height: 1.5em;
            display: block;
        }
    }

    &__actions {
        display: flex;
        grid-area: actions;
        grid-gap: $v2halfGap;
        justify-content: center;
        padding-top: 1.5rem;


        @media only screen and (min-width: $smallTablet) {
            flex-direction: row;
            justify-content: flex-end;
            grid-gap: $v2gap;
            padding: 0;
        }
    }

    &__value {
        font-weight: bold;

        .select {
            margin-bottom: 0;
        }

        span {
            font-size: $v2fontSmall;
        }
    }

    &__head {
        grid-area: header;
        display: grid;
        align-items: center;
        padding-bottom: $v2gap;

        &__titleIcon {
            display: flex;

            @media only screen and (min-width: $smallTablet) {
                // padding: $v2halfGap;
            }
        }
    }

    &__title {
        flex-grow: 2;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__values {
        grid-area: values;
        display: grid;
        row-gap: $v2halfGap;
        width: 100%;
        align-items: center;

        @media only screen and (min-width: $smallTablet) {
            row-gap: 0;
            grid-template-columns: 1fr 1fr;
            grid-gap: $v2gap;
            margin-top: $v2halfGap;
        }
    }

    &__comments {
        grid-area: comments;
        display: grid;
        row-gap: $v2halfGap;
        // margin-top: $v2halfGap;
        width: 100%;

        @media only screen and (min-width: $smallTablet) {
            row-gap: 0;
            grid-template-columns: 1fr 1fr;
            grid-gap: $v2gap;
            margin-top: $v2halfGap;
        }

        .split__input {
            display: grid;
            row-gap: $v2halfGap;

            @media only screen and (min-width: $smallTablet) {
                row-gap: 0;
            }
        }

        .comment_title {
            font-weight: bold;
            font-size: $v2fontSmall;
        }

        .comment_value {
            word-break: break-all;
        }
    }

    &__contracted-value {
        font-weight: bold;
        font-size: $v2fontSmall;
    }
}