@import 'src/scss/variables.scss';

.field {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.field--with-icon {
        input {
            padding-left: 4em;
        }
    }

    &.field--file {
        .field__label {
            margin-bottom: 14px;
            font-size: 18px;
        }
    }

    &.field--error {

        input,
        textarea {
            border-color: $red;
        }
    }

    &__icon {
        position: absolute;
        left: 22px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__label {
        display: block;
        margin-bottom: 0.45em;
        font-size: $v2fontSmall;
        line-height: 1.2;
        position: relative;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    &.required .field__label:after {
        content: '*';
        color: $red-dark;
        margin-left: 0.25em;
    }

    &__input {
        position: relative;
        display: block;
    }

    input {
        width: 100%;
        padding: 0 $v2InputPadding 0 $v2InputPadding;
        height: $v2ctlHeight;
        border: 1px solid $v2ctlBorder;
        border-radius: $v2borderRadius;
        transition: 300ms;

        &:focus {
            border-color: $primary;
        }

        &:disabled,
        &:read-only {
            border-color: #aaaaaa;
            background-color: #eeeeee;
            pointer-events: none;
        }

        &::-webkit-input-placeholder {
            color: $v2placeholder;
        }

        &:-moz-placeholder {
            color: $v2placeholder;
        }

        &::-moz-placeholder {
            color: $v2placeholder;
        }

        &:-ms-input-placeholder {
            color: $v2placeholder;
        }
    }

    /*input {
    //background: $v2ctlBorder;
    color: #000
  }*/

    &__show-password {
        position: absolute;
        right: 10px;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);

        >svg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.2em;
            height: 1.2em;
        }

        .icon-i-eye {
            fill: $silver;
        }

        path {
            transition: 300ms;
            fill: $silver;
        }

        &:hover {
            path {
                fill: $red;
            }
        }
    }
}